
app/config.php

INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

/vendor
/.cache
/.logs
/_user_data

.DS_Store
*BAK*
/*.sql
*.sql.zip
composer.phar

.gitattributes
.editorconfig
node_modules/
package-lock.json
npm-debug.log
openessayist-js

public_html/user-images
public_html/version.json

mysql-tools/

auth.json
.env
.pa11yci*

app/utils/OpenEssayistAssets.php
templates/asset-versions.twig

app.js
app.r*.js
app.min.js

# End.
