<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,nofollow">

  <title>{% block title %}{% endblock %} - openEssayist</title>

  <meta name="description" content="Web frontend to the essay analyser and summariser.">
  <meta name="copyright" content="Copyright © 2013-2018 The Open University. All rights reserved.">
  <meta name="author" content="Nicolas Van Labeke (IET - Open University)">

  {# {% include "asset-versions.twig" %} #}
  {% include "stylesheet/header.html.twig" %}

	{% block injectCSS %}
	{% endblock %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <![endif]-->

{% endblock %}
</head>
<body>
	<a id="ou-skip" href="#ou-content">Skip to content</a>
	<div id="wrap" class="page-container">
	{% block navbar %}
		{% include "widgets/navbar.panel.twig" %}
	{% endblock %}


	<!-- Content ================================================== -->
	<div class="container" id="main">


		{% block breadcrumb %}
		<div class="breadcrumb">
			<ul class="breadcrumb" role="navigation" aria-label="breadcrumb">{% block bccontainer %}{% endblock %}</ul>
			<h1 class="subdhead">{% block subheader %}{% endblock %}</h1>
			<div class="navbarhead" role="navigation" aria-label="page navigation">{% block navsubheader %}{% endblock %}</div>
			</div>
		{% endblock %}

		<div class="row-fluid anchor" id="ou-content" role="main">
			<div class="span12" style="min-height: 150px;">

			{% block notification %}
				<div class="row-fluid">
					{% if flash.info %}
						<div class="span10 offset1 alert-box alert alert-info" id="notification">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flash.info|raw }}
						</div>
					{% endif %}{% if flash.error %}
						<div class="span10 offset1 alert-box alert alert-error" id="notification">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flash.error|raw }}
						</div>
					{% endif %}{% if flash.tutor %}
						<div class="span10 offset1 alert-block alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<h4>Help on the task</h4>
							<hr>
							{{ flash.tutor|raw }}
						</div>
					{% endif %}
				</div>
			{% endblock %}

			{% block content %}{% endblock %}
			</div>


		</div>

		{% block debug %}{% endblock %}

	</div>
	<div id="push"></div>
</div>
	{% block toolcontainer %}
	{% endblock %}


	<!-- Footer ================================================== -->
	<footer class="footer" role="contentinfo">
		<div class="container">
		{% block footer %}
			<p class="attr">
				©<a class="c" href="https://www.open.ac.uk" title="Copyright © 2013-2018 The Open University">The Open University</a>.
				<a class="i" href="https://iet.open.ac.uk" title="Institute of Educational Technology (IET) &#013;at The Open University">(IET)</a>
				<a class="p" href="http://www.open.ac.uk/privacy">Privacy and cookies</a>
				<span class="brand openessayist">openEssayist v{{ constant('VERSION') }}</span>  -
				<!--<span class="hidden-phone hidden-tablet">Designed and built by </span>-->
				<a href="https://github.com/vanch3d" title="Designed by @vanch3d"><i class="icon-github icon-large icon-dark"></i> vanch3d</a>
				<a href="https://www.open.ac.uk/researchprojects/safesea/" title="Part of the SAFeSEA project">SAFeSEA</a>
			</p>
			<p class="pull-right">
				<a href="#"><i class="icon-chevron-sign-up"></i> Back to top</a>
			</p>
			{% endblock %}
		</div>
	</footer>


  {% include "javascript/footer.html.twig" %}

  {% block injectJS %}
	{% endblock %}

</body>
</html>
